/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  
  font-family: "Poppins", sans-serif;
}
body{
  background: #d9d9d9;
}
.container{
  display: flex;
  width: 1200px;
  
}
nav{
  position: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 110vh;
  background: #009688;
}
.navbar{
  width: 80%;
  margin: 0 auto;
}

.logo{
  
  display: flex;
  align-items: center;
  

}
.logo img{
  margin-top: 20px;
  width: 50px;
  height: 50px;
  
}

.logo p{
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
   
}

p{
  margin-top: 20px;
  width: 50px;
  height: 50px;
  font-size: 17px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  
}

.garis{
  width: 100%;
  align-self: center;
  margin-bottom: 30px;
  margin-top: 10px;

}

ul{
  margin: 0 auto;
}
li{
  padding-bottom: 1.5rem;
}
li a{
  font-size: 16px;
  color: #fff;
}

li .broadcast{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
}

li .device{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
}
li .logout{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
}

li .nav-item{
  height: 100px;
  text-align: center;
  font-size: 16px;
  
}

/* Main Section */
.main{
  width: 100%;
}
.main-top{
  width: 100%;
  background: #fff;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(43, 43, 43);
}
.main-body{
  padding: 10px 10px 10px 20px;
}

.container .content{
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
  
}

.container .content .cards{  
  padding: 1px 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  
}

.container .content .cards .card{
  width: 230px;
  height: 80px;
  background: #fff;
  margin-left: 2rem;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
}
.icon-case button {
  height: 49px;
  width: 49px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color:#d9d9d9;
  border-radius: 4px;
}

.icon-case button img {
  height: 29px;
  width: 29px;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.box{
  margin-left: 15px;
  margin-top: -9px;
}
.box p{
  color: #009688;
  font-size: 15px;
  font-style: normal;
  height: 15px;
  font-family: "Poppins", sans-serif;
}

 h1{
  font-family: "Poppins", sans-serif;
  color: #009688;
  font-style: bold;
  margin-top: -0.10rem;
  font-size: 30px;

}
.container .content .content-2{ /*Konten 2*/
  width: 865px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .content .content-2 .kotakutama{  
  height: 350px;
  background: #fff;
  margin-left: 81px;
  margin-top: 55px;
  flex: 5;
  border-radius: 10px;
  
}

.title{
  border-bottom: 2px solid #d9d9d9;
  padding: 1px 20px;
  font-style: bold;
}
.title p{
  display: flex;
  align-items: left;
  color: #009688;
  font-size: 20px;
  font-style: bold;
  font-family: "Poppins", sans-serif;
  
}

.search p{
  display: flex;
  align-items: left;
  padding-left: 20px;
  padding-top: 27px;
  color: #a7a4a4;
  font-size: 15px;
  border-bottom: #009688;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
  width: 764px;
  
}
/*Tulisan DEVICE & ACTION*/
.title2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eaeaea;
}
.title2 h6{
  display: flex;
  align-items: left;
  padding: 10px 40px;
  color: #009688;
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

/*Penggabung isi konten DEVICE & ACTION*/
.isiaction{
  display: flex;
  justify-content: space-between;
}
                      /*Button Connect dibawah ACTION*/
.klikconnect button {
  background-color: #009688;
  width: 90px;
  height: 40px;
  color: #ffffff;
  border: none;
  padding: 10px 3px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 35px;
  margin-top: 10px;
}

.buttonconnect{
  height: 15px;
  width: 15px;
  margin-right: 0px;
  margin-top: 0px;
}
                    /*list konten dibawah DEVICE*/
.listkonten ul{
  margin: 0 auto;
  
}
.listkonten li{
  padding-bottom: 0px;
  margin-top: 10px;
}
.listkonten li a{
  font-size: 10px;
  color: #009688;
}

.listkonten li .nomer{  
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
}
.listkonten li .username{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
}
.listkonten li .disconnect{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
}

                    /*konten 3*/
.container .content .content-3{
  width: 865px;
  display: flex;
  align-items: center;
  
}

.container .content .content-3 .kotaknama{  
  height: 130px;
  background: #fff;
  align-content: center;
  margin-left: 81px;
  margin-top: 55px;
  flex: 5;
  border-radius: 10px;
}


.title3 span{
  display: flex;
  align-items: center;
  color: #009688;
  font-size: 20px;
  padding: 50px 200px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}






